* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Raleway;
  font-size: 16px;
}

.activity-container {
  font-family: Arial;
  position: fixed;
  z-index: 1;
  opacity: 0.3;
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.above-fold {
  position: relative;
  padding: 50px 15px;
  height: 100%;
  overflow: hidden;
  background: url('../images/background3.png') center center no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.above-fold .header {
  margin-bottom: 40px;
}

.header .top-menu .social li {
  margin-right: 15px;
}


.header .top-menu .language-selector {
  max-height: 18px;
  overflow: hidden;
  color: #fff;
}

.header .top-menu .language-selector:opened {
  max-height: 300px;
}

.header .top-menu .language-selector option {
  background: transparent;
  appearance: none;
  background: transparent;
  border: none;
}

.header .top-menu .language-selector:focus {
  outline: none;
}

.header > .background {
  position: absolute;
  width: 100%;
  height: 100%;
}


.above-fold .sidebar {
  max-width: 270px;
}

.above-fold .sidebar .cart-block nav {
  background: #fff;
}

.above-fold .sidebar .cart-block .cart-info {
  background: #fb4d01;
}

.slider-content {
  max-width: 420px;
  font-size: 18px;
  color: #fff51f;

}

.slider-content h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 120% 
}

